@use '../../variables';

.container-st {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    top: 0;
    left: 0;
       
}
.container-st-child {
    position: absolute;
    width: 400px;
    background-color: #fff;
    h1 {
        font-size: 28px;
    }
} 